//////////////////////////////
// Notifications
//////////////////////////////

.smsnf-dashboard-notifications.notice{
	border-left: 0;
	margin: 0;
}
.smsnf-dashboard-notifications{
	display: flex;
	align-items: center;
  border-left: 3px solid rgb(0,174,218) !important;
  padding: 16px 38px 16px 16px;
}
.smsnf-dashboard-notifications__img--upgrade {
	background: url("../img/64x64.png") no-repeat;
	background-position: center center;
	background-repeat: no-repeat;
}
.smsnf-dashboard-notifications__img{
	padding: 10px;
}
.smsnf-dashboard-notifications__copy{
	padding: 0 4px;
	color:#333;
	h3{
		line-height: 20px;
		margin: 0;
	}
	p{
		margin: 0;
		line-height: 20px;
	}
}
.smsnf-dashboard-notifications__btn{
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 20px;
  a:first-child{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    -webkit-appearance: initial;
    &:hover{
      text-decoration: underline;
    }
  }
}

//////////////////////////////
// Main Title Page
//////////////////////////////

.smsnf-dashboard-maintitle{
	font-size: 24px;
	font-weight: 500;
}


//////////////////////////////
// Subscriber Statistics
//////////////////////////////

.smsnf-dashboard-subs-stats{
	position: relative;
	background-color: $light-color;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	padding-top: 25px;
  padding-left: 25px;
  border-radius: 3px;
}
.smsnf-dashboard-subs-stats__icon--today,
.smsnf-dashboard-subs-stats__icon--total,
.smsnf-dashboard-subs-stats__icon--bestday{
	background-position: 0;
	width: 80px;
	height: 80px;
}
.smsnf-dashboard-subs-stats__icon--today{
  background: url("https://via.placeholder.com/80x80") no-repeat;
}
.smsnf-dashboard-subs-stats__icon--total{
	background: url("https://via.placeholder.com/80x80") no-repeat;
}
.smsnf-dashboard-subs-stats__icon--bestday{
	background: url("https://via.placeholder.com/80x80") no-repeat;
}
.smsnf-dashboard-subs-stats__content{
	position: absolute;
	top: 4px;
	left: 126px;
	h3 {
		font-size: 16px;
    font-weight: normal;
    color: gray;
    -webkit-font-smoothing: antialiased;
	}
	p {
		font-size: 11px;
		margin-top: 10px;
    color: #999;
	}
	.smsnf-dashboard-subs-stats__content--result{
		font-size: 28px;
		display: block;
    margin-top: -7px;
    color: rgb(0, 174, 218);
	}
}

.smsnf-dashboard-subs-stats__content .dashicons{
	vertical-align: text-bottom;
}
.smsnf-dashboard-subs-stats__content .e-goi-tooltiptext {
	font-size: 14px;
}
.smsnf-dashboard-subs-stats .dashicons, 
.dashicons-before:before{
  color: lightgray;
}


//////////////////////////////
// Last Subscribers table
//////////////////////////////

.smsnf-dashboard-last-subscribers,
.smsnf-dashboard-subscribers-by-lists,
.smsnf-dashboard-last-email-campaign,
.smsnf-dashboard-last-sms-campaign,
.smsnf-dashboard-blog-last-post {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  background-color: $light-color;
  border: 1px solid #f3f3f3;
  border-radius: 3px;
}
.smsnf-dashboard-last-subscribers-by-form{
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	background-color: $light-color;
  border: 1px solid #f3f3f3;
  border-radius: 3px;
}
.smsnf-dashboard-last-subscribers-by-form__table .table{
	background-color: #fff;
	border-collapse: unset;
  padding: 12px 12px;
  tr td:first-child{
    font-size: 0.9rem;
  }
	tr td:nth-child(2){
    text-align: right;
    font-size: 1rem;
	}
}

.smsnf-dashboard-last-subscribers .table,
.smsnf-dashboard-last-email-campaign .table,
.smsnf-dashboard-last-sms-campaign .table {
    background: #ffffff;
    border-collapse: unset;
    padding: 12px 12px;
}
.smsnf-dashboard-last-subscribers .table th{
   font-weight: normal;
   font-size: 14px;
}
.smsnf-dashboard-last-subscribers .table tbody tr.active, 
.table.table-striped tbody tr.active{
    background: #ffffff
}

.smsnf-dashboard-last-subscribers-by-form__table 
table tr td:first-child{
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.smsnf-dashboard-last-subscribers__title,
.smsnf-dashboard-subscribers-by-lists__title,
.smsnf-dashboard-last-subscribers-by-form__title,
.smsnf-dashboard-blog-last-post__title,
.smsnf-dashboard-last-email-campaign__title,
.smsnf-dashboard-last-sms-campaign__title{
    color:#333;
    background-color: #fefefe;
    border-bottom: 1px solid #dedede;
    padding: 18px 12px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
}

//////////////////////////////
// Subscribers by List
//////////////////////////////

// Chart JS  
.smsnf-dashboard-last-email-campaign__chart,
.smsnf-dashboard-subscribers-by-lists__chart,
.smsnf-dashboard-last-sms-campaign__chart{
	background-clip: border-box;
	background-color: #fff;
	min-width: 0;
	padding: 0 10px 10px 10px;
	position: relative;
	word-wrap: break-word;
}

.smsnf-dashboard-subscribers-by-lists__content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding:10px;
	p{
		font-size: 16px;
		span{
        font-weight: bold;
        color: #00aeda;
        border: 1px solid rgba(0, 174, 218, 0.3);
        font-weight: 700;
        padding: 4px 5px;
        border-radius: 2px;
        background-color: rgba(0, 174, 218, 0.1);
        margin-left: 5px;
		}
	}
	select{
		border: 1px solid rgba(0, 174, 218, 1);
		font-size: 14px;
		height: 35px;
		width: 158px;
		box-shadow: 0 2px 4px 0 rgba(181,181,181,.3);
    color: rgba(0, 174, 218, .9);
		&:hover{
      box-shadow: 0 2px 4px 0 rgba(181,181,181,.3);
      color: rgb(0, 174, 218);
      border: 1px solid rgba(0, 174, 218, 0.8);
		}
	}
}

//////////////////////////////
// Blog Post's
//////////////////////////////

.smsnf-dashboard-blog-last-post{
    background-color: #ffffff;
}
.smsnf-dashboard-blog-last-post__content{
    padding: 10px 20px;
}
.smsnf-dashboard-blog-last-post__content div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.smsnf-dashboard-blog-last-post__content small{
    text-decoration: uppercase;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0,174,218,.5);
    color: rgb(0,174,218);
    padding: 5px 10px;
  }
.smsnf-dashboard-blog-last-post__content a{
    text-decoration: none;
    color: #333;
}
.smsnf-dashboard-blog-last-post__content__title{
    font-size: 20px;
    line-height: 26px;
    margin: 10px 0 0 0;
    &:hover{
      color: rgb(0,174,218);
      text-decoration: underline;
    }
}
.smsnf-dashboard-blog-last-post__content__description{
  font-size: 0.9rem;
  color: #666;
}


//////////////////////////////
// Media Queries
//////////////////////////////

@media screen and (min-width: 841px) and (max-width: 1054px) {
  .smsnf-dashboard-subs-stats__content--result{
    font-size: 24px !important;
   }
}

@media screen and (min-width: 400px) and (max-width: 840px) {
  .smsnf-dashboard-subs-stats {
    display: flex;
    margin: 6px 0px;
  }
}

@media screen and (min-width: 400px) and (max-width: 650px) {
  .smsnf-dashboard-notifications{
    flex-direction: column;
    text-align: center;
  }
  .smsnf-dashboard-notifications__btn{
    margin-left: 0;
    margin-right: 0;
    p{
      max-width: 90%;
      margin: 0 auto;
    }
  }
}


//////////////////////////////
// Reset Styles
//////////////////////////////

// Style table
.smsnf-dashboard .table td, .table th{
  border-bottom: .05rem solid #efefef;
  padding: .5rem 0.1rem;
}
.smsnf-dashboard .table tbody tr:last-child td {
  border-bottom: 0;
}

