//
// Notifications
//
.eg-dash-notifications.notice{
    border-left: 0;
    margin: 0;
    padding: 0;
}
.toast {
    background: $light-color;
    border: 0;
}
.dash-notifications{
    border-left: 3px solid rgb(0,174,218);
    display: flex;
    align-items: center;
}
.dash-notifications__icon-upgrade {
    background: url("../img/64x64.png") no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
}
.dash-notifications__img{
    padding: 10px;
}
.dash-notifications__text{
    padding: 0 4px;
}
.dash-notifications__text h3{
    line-height: 20px;
    margin: 0;
}
.dash-notifications__text p{
    margin: 0;
    line-height: 20px;
}
.dash-notifications__close{
    flex: 1; 
    text-align: right;
}
.dash-notifications__close .btn-clear{
    color: $gray-color;
    margin: 0;
    margin-right: 8px;
}


//
// Subscriber Statistics
//

.subscriber-statistics .column{
    position: relative;
}

.subscriber-statistics__element{
    background-color: $light-color;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding-top: 25px;
    padding-left: 25px;
}

.subscriber-statistics__element__today{
    background: url("https://via.placeholder.com/80x80") no-repeat;
    background-position: 0;
    width: 80px;
    height: 80px;
}

.subscriber-statistics__element__regists{
    position: absolute;
    top: 15px;
    left: 130px;
}
.subscriber-statistics__element__regists__title{
    font-size: 18px;
    margin: 0;
}
.subscriber-statistics__element__regists__result{
    font-size: 24px;
    margin: 0;
}
.subscriber-statistics__element__regists__subscribers{
    font-size: 11px;
    margin: 0;
    color: #999;
}
.subscriber-statistics .dashicons{
    vertical-align: text-bottom;
}
.subscriber-statistics .e-goi-tooltiptext {
    font-size: 14px;
}


//
// Subscriber Forms
//

.subscriber-form__element{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    background-color: $light-color;
    border: 1px solid #f3f3f3;
}

.subscriber-form__element__title{
    font-size: 1rem;
    padding: 12px;
    background-color:#dfdfdf;
    font-weight: bold;
    color:#333;
}

.dash-notifications--titles{
    font-size:24px;
    font-weight: 500;
}

.subscriber-form .table {
    background: #ffffff;
    border-collapse: unset;
    padding: 12px 12px;
}
.subscriber-form .table th{
   font-weight: normal;
   font-size: 14px;
}

.subscriber-form .table tbody tr.active, 
.table.table-striped tbody tr.active{
    background: #ffffff
}

.mt-3{
    margin-top: 2em;
}