/* /////////////////////////////////////// */
/* Defaults */
/* /////////////////////////////////////// */

.e-goi-dnone{
  display:none !important;
}

.e-goi-separator{
  border: 1px solid #ddd;
}

.e-goi-mtb20{
  margin: 20px 0;
}

.e-goi-fcenter{
  display: flex !important; 
  align-items: center !important;
  align-content:center !important;
}

.col-4{
  width: 67%;
  float: left;
  max-width: 100%;
}

/* TOOLTIPS */
.e-goi-tooltip {
    position: relative;
    display: inline-block;
}

.e-goi-tooltip .e-goi-tooltiptext {
    visibility: hidden;
    width: 120px;
    padding: 10px;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.e-goi-tooltiptext--custom-widget{
    width: 220px !important;
    padding: 15px 10px !important;
    margin-left: -120px !important;
}

.e-goi-tooltiptext--subscribe{
  width: 240px !important;
  left: -250% !important;
}

.e-goi-tooltip .e-goi-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
}

.e-goi-tooltip .e-goi-tooltiptext.e-goi-tooltiptext--custom::after{
    margin-left: -13px !important;
}

.e-goi-tooltip:hover .e-goi-tooltiptext {
    visibility: visible;
    opacity: 1;
}

.e-goi-tooltip, .e-goi-tooltip:hover{
    color: #222;
}

.e-goi-tooltiptext--active{
  width: 220px !important;
  left: -200% !important;
}
.e-goi-tooltip[data-title-before]:hover:after{
    content: attr(data-title-before);
    padding: 8px 12px;
    color: #fff;
    z-index: 20;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 0px 2px #c0c1c2;
    -webkit-box-shadow: 0px 0px 2px #c0c1c2;
    box-shadow: 0px 0px 2px #c0c1c2;
    background-color: #222;
    position: absolute;
    bottom: 40px;
    right: 49px;
}

.e-goi-tooltip[data-title-after]:active{
    content: attr(data-title-after);
}

/* /////////////////////////////////////// */
/* HEADER */
/* /////////////////////////////////////// */

.logo{
  background: url('../img/logo.png') no-repeat;
  background-position: left center;
  line-height: 32px;
  padding-left: 40px;
}


/* /////////////////////////////////////// */
/* Display */
/* /////////////////////////////////////// */

.wrap-content{
  margin:10px 20px 0 0px;
}

.wrap-content--API{
  max-width: 800px;
  min-width: 255px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  background: #fff;
}

.wrap-content--webpush{
    max-width: 800px;
    min-width: 255px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}

.e-goi-account-apikey {
  padding:20px 30px 10px;
  position: relative;
}

.e-goi-account-apikey__connect-failed {
  display:flex; 
  align-content: center; 
  align-items: center;
}

/* Icon for connection API Failed */
.dashicons-warning--apikeyinvalid{
  color: #db4141 !important;
  font-size: 24px;
  margin-right: 10px;
}

.apikey-error__text{
    background: #ededed;
    font-size: 16px;
    color: #32373c;
    line-height: 38px;
    padding: 6px 29px 6px;
    margin: 13px 0 15px;
    border-left: #db4141 4px solid;
}

/* Title API Key */
.e-goi-account-apikey--title,
.e-goi-account-list__title {
    padding: 10px 0 20px !important;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
}

.e-goi-account-apikey--grp {
  display: flex; 
  align-content: center!important; 
  align-items: baseline; 
  padding:0 0 20px;
}

.e-goi-account-apikey--grp--form{
  padding: 8px 12px; 
  background: #efefef; 
  font-size:16px; 
  margin-right:10px; 
  border-radius:3px;
  color: #999999;
  border: 1px solid #dedede;
  width: 430px;
  position: relative;
}

.e-goi-account-apikey--grp--form:before{
  color: darkseagreen;
  content: "\f147";
  position: absolute;
  border-radius: 6px;
  height: 20px;
  right: 6px;
  padding: 0px;
  top: 7px;
  border: 1px solid #ededed;
  font-size: 24px;
  background-color: #ffffff;
  font-family: dashicons;
}

.e-goi-account-apikey--grp--form__input{
  padding: 8px 12px; 
  font-size:16px; 
  margin-right:10px;
  border-radius: 3px;
  outline: none;
}

/* API Btns Secondary */
.button-primary--custom,
.button--custom{
    font-size: 14px !important;
    line-height: 34px !important;
    height: 34px !important;
}

/* Link to change the account settings */
.e-goi-account-apikey--link--account-settings{
    padding: 20px;
}

.e-goi-account-apikey--link--account-settings a{
    font-size: 14px;
    padding: 10px 0; 
    display: inline-block;
}

/* Icon loading after verify API */
.e-goi-account-apikey .dashicons-update{
    padding: 6px;
    color: #ffffff;
}


/* Icon animation update */
.dashicons-update.spin {
  animation: dashicons-spin 1s infinite;
  animation-timing-function: linear;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: #fff;
  padding: 7px;
  margin-top: 3px;
  color: #0073aa;
}

.e-goi-account-apikey .dashicons-update.spin {
  animation: dashicons-spin 1s infinite;
  animation-timing-function: linear;
  border: none !important;
  border-radius: none !important;
  background-color: transparent !important;
  padding: 7px;
  margin-top: 0px;
  color: white !important;
}


@keyframes dashicons-spin {
   0% {
      transform: rotate( 0deg );
   }
   100% {
      transform: rotate( 360deg );
   }
}


/* Icon error */
.e-goi-account-apikey .dashicons-no-alt{
  color: red;
}

/* Icon valid */
.e-goi-account-apikey .dashicons.dashicons-yes{
    position: absolute;
    right: 118px; 
    top: 0px;
    color: darkseagreen;
    position: relative;
}

.e-goi-delete-account--actions{
  display: flex; 
  align-content: center; 
  align-items: center; 
}

.e-goi-delete-account--actions label{
  margin-right: 20px;
}

.e-goi-delete-account p{
  margin-top: 20px !important;
}

.postbox--custom{
  max-width: 740px;
  padding:30px;
}

/* /////////////////////////////////////// */
/* DISPLAY -> Section List */
/* /////////////////////////////////////// */

.wrap-content--list{
  max-width: 100%;
  padding: 20px 30px 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  border: 1px solid #e5e5e5;
}

.e-goi-account-lists--create-list{
  position:relative;
}

.e-goi-account-lists--create-name,
.e-goi-account-lists--create-lang{
  margin-bottom: 15px !important;
}

.e-goi-account-lists--create-name span:nth-child(2){
  margin-left: 20px;
}
.e-goi-account-lists--create-lang select{
  margin-left: 17px;
}

.e-goi-account-lists--create-lang--help-text span{
  display:inline-block; 
  line-height:16px; 
  margin-left:15px;
}



/* /////////////////////////////////////// */
/* FORMS */
/* /////////////////////////////////////// */

.label_span {
  font-size: 14px;
  font-weight: 600;
}

.e-goi-option-select-admin-forms{
  width: 250px;
  height: 38px !important;
}

.nav-tab-forms-options-mt{
  margin-top: 20px;
}

.nav-tab-forms-options--appearance{
  display: inline-block; 
  margin-bottom: 15px;
}

/* Title */
.e-goi-form-title{
  display: flex; 
  align-content: center; 
  align-items: center;
}

.e-goi-form-title--left {
  margin-left: auto;
}

.e-goi-form-title--left span{
  margin-right:20px;
}

.small-margin{
  margin-bottom: 20px;
}

.e-goi-form-title--input{
  line-height: initial;
}

/* Text Area */
.e-goi-form-title--text-area{
  width: 100%; 
  height: 300px;
}

.e-goi-header-textarea {
  display:flex; 
  align-items: center; 
  justify-content: flex-start;
}

.e-goi-header-textarea div a:first-child{
  margin-left: 25px;
}

.e-goi-header-textarea div a:first-child span{
  text-decoration: none;
}

.e-goi-header-textarea > p {
  font-size:18px; 
  line-height:16px;
}

.e-goi-help-link-video {
  margin-left: auto !important;
}

.e-goi-help-link-video a {
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 5px;
  color: #999999;
}

.e-goi-help-link-video a:hover {
  background-color: #ffffff;
  color: #0073aa;
}

.e-goi-header-textarea--html-adv,
.e-goi-header-textarea--html-popup{
  width:100%;
  height:300px;
  padding:10px;
  font-size:14px; 
  font-family: Lucida Console, Monaco, monospace;
}

.e-goi-iframe-select-list{
  margin-bottom: 20px;
}

.e-goi-iframe-select-list--title{
  font-size:16px;
}

.form-table th{
  padding: 15px 10px 10px 0 !important;
}

a{
  cursor: pointer !important;
}

.e-goi-account-apikey__actions__btn-change-account_2{
  padding: 20px 30px;
  display: inline-block;
}

.e-goi-account-apikey__actions__btn-change-account_2 a{
  font-size: 14px;
  padding: 10px 0; 
  display: inline-block;
}

.e-goi-account-apikey-dont-have-account{
  padding: 20px 30px;
  display: inline-block;
}

.e-goi-account-apikey-dont-have-account p{
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
}

.e-goi-account-apikey-dont-have-account a{
  font-size: 14px;
}


.e-goi-help-text{
  color: #888888;
  padding-top: 10px;
  display: inline-block; 
}

.nowrap--custom{
  padding: 15px 0px !important;
}


.row--custom-active{
  width: 172px !important;
}

.div-error{
 	color: #900;
    text-align: center;
    background: #ddd;
    font-size: 25px;
    height: 26px;
}
.egoi_apikey_ok{
    background: #900;
    color: #ddd;
    padding: 4px;
    cursor: pointer;
}

#remove_valid{
  position: relative;
}

/* Sessions variable */
#session_form{
  display: none;
}

#valid, #active{
   display: inline-block;
   width: 20px;
   height: 20px;
}

#error, #inactive{
    position: absolute;
    right: 303px;
    top: 78px;
    color: red;
}

#load, #load_data, #load_map, #load_sync{
   /* display: none; */
}

.sidebar{
	width: 30%;
	float:right;
}

.egoi-box{
	padding-left: 20px;
  background: #fff;
}



.tab{
	display: none;
}
.tab-active{
	display: block;
}

.egoi-bar{
    text-align: -webkit-center;
   	box-shadow: 1px 1px 1px #666;
   	width: 100%;
   	padding: 6px;
}

.nav-preview{
	cursor: pointer;
    border-bottom: none;
    margin-left: .5em;
    padding: 5px 10px;
}
.egoi-email{
	padding: 5px;
}
.egoi-label{
	font-size: 18px;
    padding: 5px;
    vertical-align: text-bottom;
}

.beta, .beta:hover{
	background: url('../img/beta.png') no-repeat !important;
	background-size: 50px !important;
}

.egoi-premium{
    background: #666;
    color: #ddd;
    text-align: -webkit-center;
}

.content{
    text-align: -webkit-center;
    padding: 20px;
}

.btn{
	  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0;
}
.form-input{
	  display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.main-form{
	width: 80%;
    margin-left: 10%;
}

.label-email{
	cursor:none;
	line-height: 40px;
	font-size: 18px;
}
.label-name{
	cursor:none;
	line-height: 40px;
	font-size: 18px;
}

#wp-form_content-wrap{
  position: static !important;
}

.wp-editor-tools{
  /* position: static !important; */
}

.egoi_sinc_users{
    text-align:center; 
    font-style:italic;
}

.egoi-label-fields{
  font-weight: bold;
  text-align: left;
}

.egoi-btn-close{
    border: 1px solid #ccc !important;
    background: #f7f7f7 !important;
    -webkit-box-shadow: 0 1px 0 #ccc !important;
    -moz-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc !important;
    bottom: 10px !important;
    right: 20px !important;
    width: 60px !important;
}

.egoi-map-title{
    display: block;
    font-weight: 600;
    font-size: 2em;
    margin: .67em 0;
    color: #fff;
    padding-left: 10px;
}


/* Create a list */

.e-goi-account--toogle {
  margin: 20px 0;
}

.dropdown-toggle {
}

div.dropdown {
  display:none;
  position: absolute;
  top: 100%;
  margin-top: .5em;
}




/* forms */
  #TB_ajaxContent{
    overflow: hidden !important;
  }
  .form-table td{
    width: 80%;
  }

  #disabled {
    background: #5B5E5F !important;
      border-color: none !important;
      box-shadow: none !important;
  }
  #disabled:hover {
    background: #5B5E5F !important;
    cursor: default;
  }


.e-goi-iframe-select-list,
.e-goi-form-shortcode,
.e-goi-iframe-select-form{
  display:flex; 
  align-content: center; 
  align-items: center;
}

.no-forms{
  padding: 13px 20px;
  border: 1px solid orangered;
  background-color: #fff;
}

.no-forms .dashicons-warning{
  color: orangered;
}

.e-goi-form-shortcode--input{
  border:2px solid #ddd; 
  background-color: #ffffff !important; 
  padding:10px 20px;
  text-align: center;
}

.e-goi-help-shortcode-text{
  width: 300px;
  display: inline-flex;
  margin-left: 20px;
}

.e-goi-form-shortcode--title{
    line-height: 1.3;
    font-weight: 600;
    font-size: 14px;
}

.e-goi-form-active-label,
.e-goi-form-inactive-label{
  color:#ffffff; 
  background-color: #bac32c; 
  padding:4px 10px;
  text-transform: uppercase;
}

.e-goi-form-inactive-label{
  background-color: #ccc; 
}

.e-goi-notice{
  position: absolute;
  top: 0;
  width: 60%;
}

.e-goi-preview-text{
  font-size: 21px;
  margin: 20px;
}

#e-goi_import_valid{
  color: darkseagreen;
}


.dashicons, .dashicons-before:before{
  color: #666;
}






.e-goi-form-shortcode a:active{
  border: 2px solid #0085ba !important;
  box-sizing: border-box;
}

/* /////////////////////////////////////// */
/* POP UP */
/* /////////////////////////////////////// */
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  z-index: 999;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  margin: 0;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #0085ba;
  border-radius: 0 0 0 .25em;
  text-decoration: none;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #008ec2 !important;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #ccc;
  border-radius: 0 0 .25em 0;
  text-decoration: none;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #ccc;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #ccc;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}

.cd-popup-container p{
  font-size: 16px;
  margin: 0;
  padding: 40px 30px 26px;
}

.help-list-style ol{
    list-style: none;
    margin-left: 0px;
}
.help-list-style li{
    counter-increment: item;
    margin-bottom: 10px;
}

.help-list-style li:before{
    margin-right: 10px;
    content: counter(item);
    background: white;
    border: 1px solid #04afdb;
    border-radius: 100%;
    color: #04afdb;
    width: 1.4em;
    text-align: center;
    display: inline-block;
}



